.navbar {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(67, 100, 68);
}
.my-row {
    

}
.hero-img {
    padding: 5px;
    width: 100%;
    height: 60%;
    position: relative;
}
.my-img {
   
    
}
.btn-primary {
    background-color: rgb(67, 100, 68);;
}

.card-text {
    font-style: italic;
 
}
.card {
    
   margin: 10px;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    background: white;
      /* box-shadow: -3px 4px 14px -4px rgba(0,0,0,0.59); */
  
}

.card-body {
    background-color: rgb(255, 255, 255);
  
    border-radius: 5px;
    
}
body {
    background-color: rgb(32, 32, 32);
}
.hero-text {

    padding-top: 30px;
    padding-left: 20px;
    color: white;
    position: absolute;
    z-index: 1;
    font-size: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}